@import "tailwindcss";

@layer base {
  body {
    font-family: 'VT323', monospace;
    font-size: 1.25rem;
  }
}

@layer utilities {
  .font-pixel {
    font-family: 'Press Start 2P', cursive;
  }
}
